section#app.app.app-header-fixed.app-aside-fixed
  header.app-header.navbar
    .navbar-header.bg-black
      button.pull-right.visible-xs.dk((click)='showHeader = !showHeader')
        i.glyphicon.glyphicon-cog
      button.pull-right.visible-xs((click)='showMenu = !showMenu')
        i.glyphicon.glyphicon-align-justify
      a.navbar-brand.text-lt(href='#/')
        i.fa.fa-comment
        span.hidden-folded.m-l-xs ICB
    .collapse.pos-rlt.navbar-collapse.box-shadow.bg-white-only([ngClass]='{ show: showHeader }')
      ul.nav.navbar-nav.navbar-right
        li.dropdown
          a.dropdown-toggle.clear(data-toggle='dropdown')
            span Joaquim Barbosa
            b.caret
          ul.dropdown-menu.animated.fadeInRight.w
            li
              a((click)='logoff()') Sair
              
  .app-aside.hidden-xs.bg-black([ngClass]="{ 'off-screen': showMenu }")
    .aside-wrap
      .navi-wrap
        nav.navi(ui-nav='')
          ul.nav
            li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs
              span Admin
            li
              a([routerLink]="['Dashboard']", (click)='showMenu = false')
                i.glyphicon.glyphicon-stats.icon.text-primary-dker
                |  Dashboard
            li
              a([routerLink]="['Users']", (click)='showMenu = false')
                i.glyphicon.glyphicon-stats.icon.text-primary-dker
                |  Users
  .app-content
    .hbox.hbox-auto-xs.hbox-auto-sm
      #app-content-body.app-content-body
        router-outlet
